#graphic {
  /* display: flex; */
  justify-content: center;
  /* grid-column-start: 3; */
  grid-row-start: 3;
  grid-row-end: 4;

}

#graphic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  /* grid-row-end: 5; */
}

#bruno {
display: none;
}