#graphic {
  position: relative;
  justify-content: center;
  grid-row-start: 3;
  grid-row-end: 4;
  overflow: hidden;
}

#interior {
  opacity: 80%;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}


#bug {
  text-align: center;
  position: absolute;
  object-fit: contain;
  grid-row-start: 5;
}

#bruno {
  display: none;
}
