#graphic {
  display: flex;
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-end: 4;
  margin: 0 auto;
  object-fit: cover;
}

#graphic img {
  border-radius: 30px;
  width: 25vw;
}

#bruno {

  grid-row-start: 3;
  grid-column-start: 3;
}

#bruno img {
  display: none;
  margin: 1% 25%;
  padding: 1vw;
  width: 12vw;
}