#inventory {
  display: grid;
  grid-template-rows: 33% 33% 33% 33%;
  grid-template-columns: 50% 50%;
  grid-column-start: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  border-radius: 5px;
  border: 20px solid black;
  border-radius: 20px;
  border-bottom: none;
  grid-column-gap: 1vw;
}

#inventory h3 {
  width: 100%;
  grid-column-start: 1;
  grid-column-end:3;
  padding: 1vw;
  border-radius: 20px;
  background-color: #7E262B;
  margin: auto;
  color: #d9cab3;
  text-align: center;
  font-family: "Press Start 2P";
  font-size: 1vw;
  padding: 1vh;
}

#inventory div {
  display: flex;
  flex-direction: row;
  margin: auto;
}



#inventory button {
  border: none;
  cursor: pointer;
  color: #d9cab3;
  border-radius: 1px;
  font-family: "Press Start 2P";
  font-size: .7vw;
  margin: auto 0;
  background-color: black;
  height: 100%;
}


#inventory-0 {
  grid-column-start: 1;
  grid-row-start: 2;
}

#inventory-1 {

  grid-column-start: 2;
  grid-row-start: 2;
}

#inventory-2 {

  grid-column-start: 1;
  grid-row-start: 3;
}

#inventory-2 {

  grid-column-start: 2;
  grid-row-start: 3;
}

