#player-nav {
  height: 100%;
  display: flex;
  grid-row-start: 2;
  grid-row-end: 6;
  border-radius: 20px;
  background-color: #8c7a6b;

}
#room-content {
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 15px;
  background-color: #d9cab3;
  margin: 2%;
}
#room-content h3 {

  text-align: center;
  color: #e21216;
  font-size: 2vw;
  text-shadow: 0.5px 0.5px black;
  font-family: "Press Start 2P";
}
#room-content p {
  font-family: "Roboto Mono";
  font-weight: bold;
  font-size: 1.5vw;
  padding: 0 5%;
}
#directions {
  grid-row-start: 3;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  width: 9vw;
  height: 9vw;
  margin: auto;
  grid-column-start: 2;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  grid-gap: 2.5%;
}

#north {
  grid-area: b;
}
#east {
  grid-area: f;
}
#south {
  grid-area: h;
}
#west {
  grid-area: d;
}

#directions button {
  font-size: 2.8vw;
  color: #d9cab3;
  text-decoration: none;
  line-height: 1;
  font-family: "Pirata One";
  text-shadow: 0.5px 0.5px black;
  width: 100%;
  height: 100%;
  padding: 0;
  border-color: #e21216;
}

#directions button:focus {
  outline: none;
}

button {
  background-color: #7e262b;
}

#player-nav {
  text-align: center;
}

#player-nav button {
  font-family: 'Press Start 2P';
  font-size: 1vw;
  padding: 3%;
   color: white;
   margin: 3vh auto;
   text-align: center;
    background-color: #e21216;
    border-color: white;
    border-style: outset;
}

#roomenter-button {
  display: none;
}
#room1-button {
  display: none;
}
#room3-button {
  display: none;
}
#room5-button {
  display: none;
}

/* button:disabled {
  opacity: 80%;
} */

#ruby {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 0 auto;
}

#ruby img {

  width: 10vw;
  opacity: 80%;
}

#guardian {
  position: absolute;
    z-index: 100000;
  grid-row-start: 3;
  grid-column-end: 4;
  grid-row-end: 4;
  grid-column-start: 3;
  max-width: 65%;
    max-height:100%;
    display: block;
    object-fit: cover;
    margin-left: 20%;
  }

  #equipment {
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  #static-equip-1 {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  #static-equip-2 {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  #static-equip-3 {
    grid-row-start: 1;
    grid-column-start: 3;
  }

  #static-equip-4 {
    grid-row-start: 1;
    grid-column-start: 4;
  }

  #equipment img {
    margin-right: -5%;
    width: 8vw;
    max-height: 15vh;
    min-height: auto;
    opacity: 80%;
    
  }

  #equip-1 {
    z-index: 100000;
    position: relative;
    grid-row-start: 1;
    grid-column-start: 1;
    opacity: 100% !important;
  }

  #equip-2 {
    z-index: 100000;
    position: relative;
    grid-row-start: 1;
    grid-column-start: 2;
    opacity: 100% !important;
  }
  #equip-3 {
    z-index: 100000;
    position: relative;
    grid-row-start: 1;
    grid-column-start: 3;
    opacity: 100% !important;
  }
  #equip-4 {
    z-index: 100000;
    position: relative;
    grid-row-start: 1;
    grid-column-start: 4;
    opacity: 100% !important;
  }