#map {
  grid-column-start: 3;
  grid-row-start: 4;
  margin: auto;
  margin-top: 6vh;
  display: grid;
  grid-template-areas: 

  "12 11 10"
  "9 8 7"
  "6 5 4"
  "3 2 1";

  width: 10vw;
  height: 10vw;
  float: right;
}

div#x {
 background-color: black !important;
}