#map {
  grid-column-start: 3;
  grid-row-start: 4;
  margin: auto;
  display: grid;
  grid-template-areas: 

  "12 11 10"
  "9 8 7"
  "6 5 4"
  "3 2 1";

  width: 10vw;
  height: 10vw;
  float: right;
}

#map-x {
 background-color: black !important;
}

#map-4 {
  background-image: url('https://raw.githubusercontent.com/ajmonda/ruby-dungeon/master/client/src/assets/images/skull.png') !important;
}

#skull {
  width: 3vw;
  grid-column-start: 3;
  grid-row-start: 4;
  justify-content: center;
  align-content: center;
  margin-top: auto;
  margin: auto;
}
