#game-over {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  font-family: 'Press Start 2P';
  text-align: center;
}
#game-over h1 {
  animation: fadeInAnimation ease 5s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
  font-size: 100px;
  color: #7E262B;
  margin-bottom: 5%;
}
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0.1; 
  } 
  100% { 
      opacity: 1; 
   } 
} 
#game-over h3, a {
 font-size: 20px;
  text-decoration: underline;
  color: #D9CAB3
}

